<html>
  <head>
      <title>Mohit</title>
  </head>

  <body>
      <div>
          <h1><p>Hello</p></h1>
          <p>Welcome to Mohit's page</p>
      </div>
      <div>
          <h2><a href ="/">Mohit's Blog</a></h2>
      </div>

      {%for post in posts %}
        <div>
            <p>published: {{post.published_date}}</p>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
      {% endfor %}



      <h3>46-05</h3>
  </body>
</html>
